@page "/cart"
@using ECommerceApp.Interfaces
@using ECommerceApp.Services

@inject ICartApi CartApi
@inject IJSRuntime JSRuntime

<div class="container" style="margin-bottom: 200px">
    <div class="row mb-1">
        <form class="col-md-12" method="post">
            <div class="site-blocks-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-total">Total</th>
                            <th class="product-remove">Remove</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in CartList)
                        {
                            <tr>
                                <td class="product-thumbnail">
                                    <img src="@item.Image" alt="Image" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">@item.ProductName</h2>
                                </td>
                                <td>$ @item.Price</td>
                                <td>
                                    <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                                        <div class="input-group-prepend">
                                            @if (item.Quantity == 1)
                                            {
                                                <p class="btn btn-outline-black decrease disabled opacity-25">&minus;</p>
                                            }
                                            else
                                            {
                                                <p class="btn btn-outline-black decrease" onclick="@(async () => await UpdateQuantity(item.ProductId, false))">&minus;</p>
                                            }
                                        </div>
                                        <input type="text" class="form-control text-center quantity-amount" value="@item.Quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                        <div class="input-group-append">
                                            <p class="btn btn-outline-black increase" onclick="@(async () => await UpdateQuantity(item.ProductId, true))">&plus;</p>
                                        </div>
                                    </div>

                                </td>
                                <td>$ @(item.Price * item.Quantity)</td>
                                <td><p class="btn btn-black btn-sm" @onclick="@(async () => await DeleteFromCart(item.ProductId))">X</p></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                            <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <span class="text-black">Subtotal</span>
                        </div>
                        <div class="col-md-6 text-right">
                            <strong class="text-black">$230.00</strong>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <span class="text-black">Total</span>
                        </div>
                        <div class="col-md-6 text-right">
                            <strong class="text-black">$230.00</strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private IEnumerable<IProductInCart> CartList = [];

    protected override async Task OnInitializedAsync()
    {
        await OnLoad();
    }

    private async Task OnLoad()
    {
        var result = await CartApi.GetCartList();
        await JSRuntime.InvokeVoidAsync("console.log", result);
        CartList = result;
        StateHasChanged();
    }

    private async Task DeleteFromCart(int id)
    {
        await CartApi.DeleteFromCart(id);
        await OnLoad();
    }

    private async Task UpdateQuantity(int id, bool isIncrease)
    {
        await CartApi.UpdateQuantity(id, isIncrease);
        await OnLoad();
    }
}
